<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Dylan Jones</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Dylan Jones</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
  <li><a href="/home">Avalehele</a></li>
  </ul>
  <hr>
  <h2>Lisa filmitegelane</h2>
  <form method="POST">
	<label for="firstNameInput">Sisesta näitleja eesnimi: </label>
	<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ...">
	<br>
	<label for="lastNameInput">Sisesta näitleja perekonnanimi: </label>
	<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ...">
	<br>
	<label for="birthDateInput">Sisesta sünnikuupäev: </label>
	<input type="date" id="birthDateInput" name="birthDateInput"</input>
	<input type="submit" id="personSubmit" name="personSubmit" value="Salvesta">
  </form>
  <hr>
  <h2>Lisa film</h2>
  <form method="POST">
	<label for="titleInput">Sisesta filmi nimi: </label>
	<input type="text" id="titleInput" name="titleInput" placeholder="Filmi nimi ...">
	<br>
	<label for="productionYearInput">Sisesta filmi tootmisaasta: </label>
	<input type="text" id="productionYearInput" name="productionYearInput" placeholder="Tootmisaasta ...">
	<br>
	<label for="durationInput">Sisesta filmi kestus minutites: </label>
	<input type="text" id="durationInput" name="durationInput" placeholder="Filmi kestus ..."</input>
	<input type="submit" id="movieSubmit" name="movieSubmit" value="Salvesta">
  </form>
  <hr>
  <h2>Lisa tegelase roll</h2>
  <form method="POST">
	<label for="firstNameInput">Sisesta eesnimi: </label>
	<input type="text" id="firstRoleInput" name="firstRoleInput" placeholder="Eesnimi ...">
	<br>
	<label for="lastNameInput">Sisesta perekonnanimi: </label>
	<input type="text" id="lastRoleInput" name="lastRoleInput" placeholder="Perekonnanimi ...">
	<br>
	<label for="roleInput">Sisesta roll: </label>
	<input type="text" id="roleInput" name="roleInput" placeholder="Roll ..."</input>
	<input type="submit" id="roleSubmit" name="roleSubmit" value="Salvesta">
  </form>
</body>
</html>