<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Dylan Jones</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Dylan Jones</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
  <li><a href="/">Avalehele</a></li>
  </ul>
  <hr>
  <h2>Galerii</h2>
  <li>
    <% listData.forEach(function(photo){ %>
	   <li><%= photo.file_name %> <%= photo.alt_text %></li>
	   <% }); %>
  </li>
  </body>
</html>